@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

$white: #fff;
$royalBlue: #2b425a;
$grey: #eeeae7;
$grey2: #1c1c1c;
$blue: #4676c0;
$blue2: #398fce;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    &::-webkit-scrollbar {
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        //  border: 10px solid red;
        border: 1px solid grey;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $blue2;
        border-radius: 10px;
    }
}

.capa {
    height: 100vh;
    background: url(https://images.pexels.com/photos/1145720/pexels-photo-1145720.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
        no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    nav {
        // border: 1px solid red;
        line-height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        position: fixed;
        width: 100%;
        background-color: rgba(#000000, 0.95);

        .checkbtn {
            font-size: 30px;
            color: white;
            order: 3;
            line-height: 70px;
            cursor: pointer;
            display: none;
        }
        #check {
            display: none;
        }

        .logo {
            span {
                font-weight: 900;
                font-size: 1.6rem;
                color: $white;
            }
        }

        ul {
            li {
                display: inline-block;
                margin: 0 20px;

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }

    .textos-capa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            background-color: white;
            color: black;
            font-size: 5rem;
            letter-spacing: 0.5rem;
            transition: 0.3s ease-in;
            border: 1px solid white;
            padding: 1%;
            margin-bottom: 10px;
        }
        p {
            background-color: white;
            color: black;
            font-weight: 200;
            font-size: 1.5rem;
            text-transform: uppercase;
            transition: 0.3s ease-in;
            border: 1px solid white;
            padding: 1%;
        }
    }
}

main {
    
    .conteudo-main {
        height: 80vh;
        display: flex;
        background-color: black;

        .lado-esquerdo {
            width: 100%;
            padding: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            figure {
                height: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    object-fit: cover;
                }
                .img {
                    background: url(https://images.pexels.com/photos/4071366/pexels-photo-4071366.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
                        no-repeat;
                    background-size: cover;
                    height: 100%;
                    background-position: center;
                }
            }
        }
        .lado-direito {
            width: 100%;
            padding: 5%;
            //   background-color: $grey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .barra {
                border: 1px solid $white;
                margin: 15px 0;
                width: 80%;
            }
            h1 {
                color: $white;
            }
            p {
                color: $white;
            }
        }
    }
    .squad {
        .conteudo-squad {
            background-color: $grey2;
            //    border: 1px solid;
            padding: 3%;
            .textos-squad {
                text-align: center;
                padding-bottom: 25px;

                h1 {
                    font-size: 2rem;
                    color: $white;
                }
                p {
                    color: $white;
                }
            }

            .cards-squad {
                display: flex;
                justify-content: space-evenly;
                // align-items: center;
                flex-wrap: wrap;
                // border: 1px solid white;
                margin: 0 auto;

                .card-squad {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border: 1px solid $white;
                    border-radius: 10px;
                    width: 350px;
                    // gap: 1rem;
                    margin: 10px 10px;
                    padding: 2%;
                    // height: 400px;

                    .img-card {
                        border-radius: 10px;
                        width: auto;
                        height: 300px;
                        overflow: hidden;
                        -webkit-box-shadow: -1px 2px 11px -2px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: -1px 2px 11px -2px rgba(0, 0, 0, 0.75);
                        box-shadow: -1px 2px 11px -2px rgba(0, 0, 0, 0.75);

                        img {
                            width: 100%;
                            object-fit: cover;
                            //  border-radius: 10px;
                        }
                    }
                    .nome {
                        padding: 3% 0;

                        h3 {
                            color: $white;
                        }
                    }
                    .apresentacao {
                        padding: 0 2.5%;
                        height: 200px;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            //  border: 10px solid red;
                            border: 1px solid grey;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: $grey;
                            border-radius: 10px;
                        }

                        p {
                            //  text-align: justify;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .onde-nos-encontrar {
        .conteudo-onde-nos-encontrar {
            background-color: black;
            padding: 4%;
            .textos-onde-en {
                text-align: center;
                color: white;

                p {
                    padding: 25px 0;
                }
            }

            .icons {
                // border: 1px solid;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    border: 1px solid $white;
                    width: 90px;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    margin: 10px 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border: none;
                        background-color: $white;
                        color: black;
                        i {
                            color: black;
                        }
                    }

                    i {
                        color: $white;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .fale-conosco {
        background-color: $grey2;
        .conteudo-fale-conosco {
            text-align: center;
            padding: 4%;

            .texto-fale-conosco {
                color: white;
            }
            .texto-enviando{
                color: white;
                // display: none;
            }
            .texto-sucesso{
                color: #ADFF2F;
            }
            .texto-error{
                color: #FF6347;
            }
           
            form {
                //   border: 1px solid;
                display: flex;
                flex-direction: column;
                max-width: 900px;
                margin: 0 auto;
                padding: 2%;
                // border: 1px solid red;

                input {
                    padding: 2% 0 2% 1%;
                    margin: 15px 0;
                    background-color: $grey2;
                    border: 1px solid $white;
                    color: $white;
                }
                textarea {
                    max-width: 100%;
                    margin: 15px 0;
                    background-color: $grey2;
                    border: 1px solid $white;
                    color: $white;
                }
            }
            .btn-enviar {
                padding: 0 2% 0 0;
                display: flex;
                //  border: 1px solid;
                max-width: 900px;
                margin: 0 auto;
                justify-content: flex-end;

                button {
                    padding: 10px 20px;
                    background: none;
                    border: 1px solid $white;
                    color: $white;
                    transition: 0.3s ease-in-out;
                    font-weight: 600;
                    letter-spacing: 0.2rem;

                    &:hover {
                        background: $white;
                        border: 1px solid $white;
                        color: black;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    color: $white;
    background-color: black;

    a{
        color: white;
    }
    .fas{
        color: red;
    }
}

@media screen and (max-width: 655px) {
    .textos-capa {
        padding: 1%;
        h1 {
            color: $white;
            font-size: 2rem !important;
            letter-spacing: 0.5rem;
        }
        p {
            color: $white;
            font-weight: 200;
            font-size: 1rem !important;
            text-transform: uppercase;
        }
    }
    main {
        .conteudo-main {
            height: auto;
            flex-wrap: wrap;
            .lado-esquerdo {
                // border: 10px solid yellow !important;
                height: 80vh;
                padding: 5%;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    nav {
        .checkbtn {
            display: block !important;
        }

        ul {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: rgba(#000000, 0.9);
            top: 70px;
            left: 100%;
            text-align: center;
            transition: all 0.5s;
            backdrop-filter: blur(0.6px);

            li {
                //    margin-top: 5%;
                display: flex !important;
                align-items: center;
                justify-content: center;
                a {
                    //    border: 10px solid yellow;
                    font-size: 1.3rem;
                }
            }
        }

        #check:checked ~ ul {
            left: 0;
        }
    }
}
